In [942]:
import pandas as pd

In [943]:
import numpy as np

In [944]:
file_to_load = "C:\\Users\\maryk\\OneDrive\\Desktop\\Homework\\pandas-challenge\\purchase_data.csv"

In [945]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [946]:
players=purchase_data['SN'].unique().size

In [947]:
print(players)

576

In [948]:
players_df=pd.DataFrame([[Total_Players]])

In [949]:
players_df.columns=[['Total Players']]

In [950]:
players_df.head()

  Total Players
0           576

In [951]:
items=purchase_data['Item ID'].unique().size

In [952]:
print(items)

179

In [953]:
average=purchase_data['Price'].mean()

In [954]:
print(average)

3.050987179487176

In [955]:
format_float = "{:.2f}".format(average)

In [956]:
print(format_float)

3.05

In [957]:
purchases=purchase_data['Purchase ID'].unique().size

In [958]:
print(purchases)

780

In [959]:
revenue=purchase_data['Price'].sum()

In [960]:
print(revenue)

2379.77

In [961]:
Table_df=pd.DataFrame([[items,format_float,purchases,revenue]])
Table_df.columns=[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]

In [962]:
print(Table_df)

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179          3.05                 780       2379.77

In [963]:
Table_df.head()

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179          3.05                 780       2379.77

In [964]:
genders = purchase_data.groupby("Gender")

In [965]:
gen_group = genders.nunique()['SN']

In [966]:
print(gen_group)

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [967]:
player_perc = gen_group / players * 100

In [968]:
print(player_perc)

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [969]:
Gender_Demographics = pd.DataFrame({"Total Count": gen_group, "Percentage of Players": player_perc})

In [970]:
print(Gender_Demographics)

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [971]:
Gender_Demographics.head()

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [972]:
pur_ct = genders["Purchase ID"].count()

In [973]:
print(pur_ct)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [974]:
av_pr =  genders["Price"].mean()

In [975]:
print(av_pr)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [976]:
ttl_vl = genders["Price"].sum()

In [977]:
print(ttl_vl)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [978]:
avg_pp = ttl_vl/gen_group

In [979]:
print(avg_pp)

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [980]:
Purchasing_df = pd.DataFrame({"Purchase Count": pur_ct,"Average Purchase Price": av_pr,"Total Purchase Value": ttl_vl,"Avg Total Purchase per Person": avg_pp})

In [981]:
print(Purchasing_df)

                       Purchase Count  Average Purchase Price  \
Gender
Female                            113                3.203009
Male                              652                3.017853
Other / Non-Disclosed              15                3.346000

                       Total Purchase Value  Avg Total Purchase per Person
Gender
Female                               361.94                       4.468395
Male                                1967.64                       4.065372
Other / Non-Disclosed                 50.19                       4.562727

In [982]:
Purchasing_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [983]:
ages=purchase_data['Age'].unique()

In [984]:
print(ages)

[20 40 24 23 22 36 35 21 30 38 29 11  7 19 37 10  8 18 27 33 32 25 12 34
 17 15 13 26 16 28 31 39 44 41  9 14 42 43 45]

In [985]:
bins = [0, 9, 14 , 19, 24 , 29, 34, 39, 50]

In [986]:
groups = ['<10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40+']

In [987]:
purchase_data["Age_gp"] = pd.cut(purchase_data["Age"],bins,labels=groups)

In [988]:
ages_gp = purchase_data.groupby("Age_gp")

In [989]:
age_total = ages_gp['SN'].nunique()

In [990]:
age_perc = (age_total / 576) *100

In [991]:
Age_Demographics = pd.DataFrame({"Total Count": age_total, "Percentage of Players": age_perc})

In [992]:
print(Age_Demographics)

         Total Count  Percentage of Players
Age_gp
<10               17               2.951389
10 - 14           22               3.819444
15 - 19          107              18.576389
20 - 24          258              44.791667
25 - 29           77              13.368056
30 - 34           52               9.027778
35 - 39           31               5.381944
40+               12               2.083333

In [993]:
Age_Demographics.head()

         Total Count  Percentage of Players
Age_gp
<10               17               2.951389
10 - 14           22               3.819444
15 - 19          107              18.576389
20 - 24          258              44.791667
25 - 29           77              13.368056

In [994]:
pur_age = ages_gp["Purchase ID"].count()

In [995]:
avg_pr_age = ages_gp["Price"].mean()

In [996]:
ttl_vl_age = ages_gp["Price"].sum()

In [997]:
avg_ttl_pp = ttl_vl_age / age_total

In [998]:
Purchasing_Analysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_gp,,,,
<10,23,3.353478,77.13,4.537059
10 - 14,28,2.956429,82.78,3.762727
15 - 19,136,3.035956,412.89,3.858785
20 - 24,365,3.052219,1114.06,4.318062
25 - 29,101,2.900990,293.00,3.805195
30 - 34,73,2.931507,214.00,4.115385
35 - 39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [999]:
Purchasing_Analysis_Age = pd.DataFrame({"Purchase Count": pur_age, "Average Purchase Price": avg_pr_age,"Total Purchase Value": ttl_vl_age,"Avg Total Purchase per Person": avg_ttl_pp})

In [1000]:
print(Purchasing_Analysis_Age)

         Purchase Count  Average Purchase Price  Total Purchase Value  \
Age_gp
<10                  23                3.353478                 77.13
10 - 14              28                2.956429                 82.78
15 - 19             136                3.035956                412.89
20 - 24             365                3.052219               1114.06
25 - 29             101                2.900990                293.00
30 - 34              73                2.931507                214.00
35 - 39              41                3.601707                147.67
40+                  13                2.941538                 38.24

         Avg Total Purchase per Person
Age_gp
<10                           4.537059
10 - 14                       3.762727
15 - 19                       3.858785
20 - 24                       4.318062
25 - 29                       3.805195
30 - 34                       4.115385
35 - 39                       4.763548
40+                           3.186667

In [1002]:
Purchasing_Analysis_Age.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_gp,,,,
<10,23,3.353478,77.13,4.537059
10 - 14,28,2.956429,82.78,3.762727
15 - 19,136,3.035956,412.89,3.858785
20 - 24,365,3.052219,1114.06,4.318062
25 - 29,101,2.900990,293.00,3.805195

In [1003]:
spend = purchase_data.groupby('SN')

In [1004]:
spend_name = spend["Purchase ID"].count()

In [1005]:
avg_spend_name = spend["Price"].mean()

In [1006]:
spending = spend["Price"].sum()

In [1007]:
Top_Spenders = pd.DataFrame({"Purchase Count": spend_name, "Average Purchase Price": avg_spend_name,"Total Purchase Value": spending})

In [1008]:
print(Top_Spenders)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [1009]:
Top_Spenders.sort_values(["Total Purchase Value"], ascending=False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [1010]:
item = purchase_data[["Item ID", "Item Name", "Price"]]

In [899]:
item_gp = item.groupby(["Item ID","Item Name"])

In [1011]:
item_pur = item_gp["Price"].count()

In [1012]:
item_avg = item_gp["Price"].mean()

In [913]:
item_ttl = item_gp["Price"].sum()

In [1013]:
Most_Popular = pd.DataFrame({"Purchase Count": item_pur, "Item Price": item_avg,"Total Purchase Value": item_ttl})

In [1014]:
print(Most_Popular)

                                                      Purchase Count  \
Item ID Item Name
0       Splinter                                                   4
1       Crucifer                                                   4
2       Verdict                                                    6
3       Phantomlight                                               6
4       Bloodlord's Fetish                                         5
...                                                              ...
178     Oathbreaker, Last Hope of the Breaking Storm              12
179     Wolf, Promise of the Moonwalker                            6
181     Reaper's Toll                                              5
182     Toothpick                                                  3
183     Dragon's Greatsword                                        3

                                                      Item Price  \
Item ID Item Name
0       Splinter                                          1.2800
1       Crucifer                                          2.9425
2       Verdict                                           2.4800
3       Phantomlight                                      2.4900
4       Bloodlord's Fetish                                1.7000
...                                                          ...
178     Oathbreaker, Last Hope of the Breaking Storm      4.2300
179     Wolf, Promise of the Moonwalker                   4.4800
181     Reaper's Toll                                     1.6600
182     Toothpick                                         4.0300
183     Dragon's Greatsword                               1.0900

                                                      Total Purchase Value
Item ID Item Name
0       Splinter                                                      5.12
1       Crucifer                                                     11.77
2       Verdict                                                      14.88
3       Phantomlight                                                 14.94
4       Bloodlord's Fetish                                            8.50
...                                                                    ...
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
179     Wolf, Promise of the Moonwalker                              26.88
181     Reaper's Toll                                                 8.30
182     Toothpick                                                    12.09
183     Dragon's Greatsword                                           3.27

[179 rows x 3 columns]

In [1016]:
Most_Popular.sort_values(["Purchase Count"], ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

In [1017]:
Most_Popular.sort_values(["Total Purchase Value"], ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75